h1 {
    color: blueviolet;
    text-align: center;
}

h2 {
    color: rgb(255, 163, 109);
    text-align: center;
    font-size: 35px;
}

h3 {
    color: rgb(69, 142, 238);
    text-align: right;
    font-size: 40px;
}

h4 {
    color: rgb(238, 69, 182);
    text-align: center;
    font-size: 40px;
}

img {
    border-radius: 5%;
}